/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #4285f4;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

header h1 {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Main Section Styles */
main {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Search Form Styles */
.search-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

button {
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

button:hover {
    background-color: #357ae8;
}

form {
    display: none;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin: 10px 0;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    margin-top: 20px;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #4285f4;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
    /* Header Styles for Mobile */
    header {
        flex-direction: column;
        align-items: center;
    }

    header h1 {
        margin: 10px 0;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    nav li {
        margin-bottom: 10px;
    }

    /* Main Section Styles for Mobile */
    main {
        margin: 10px;
    }

    /* Search Form Styles for Mobile */
    .search-buttons {
        flex-direction: column;
    }

    button {
        margin: 10px 0;
    }
}
