<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="TravelEasy - Your Ultimate Travel Booking Platform">
    <meta name="author" content="Olumide Jenyo">
    <title>TravelEasy - Your Ultimate Travel Booking Platform</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}?v=2">
    <meta name="author" content="Olumide Jenyo">
    <style>
        /* Your additional CSS styles can be added here */
    </style>
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='image/logo.png') }}" alt="TravelEasy Logo">
        </div>
	<div class="header-links">
		<a href="{{ url_for('about') }}">About</a>
		<a href="{{ url_for('privacy') }}">Privacy</a>
		<a href="{{ url_for('terms') }}">Terms</a>
		<a href="{{ url_for('contact') }}">Contact</a>
            </div>
    </header>

    <section class="hero">
    <div class="hero-content">
        <h1>Your Ultimate Travel Booking Platform</h1>
        <p>Book flights, trains, and buses with ease. Explore new destinations today!</p>
        <div id="form-container">
            <button class="cta-button" id="get-started-button">Get Started</button>
            <form class="signup-form" id="signup-form" action="{{ url_for('signup') }}" method="POST" style="display: none;">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="text" name="username" placeholder="Username" required>
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" required>
                <input type="text" name="first_name" placeholder="First Name" required>
                <input type="text" name="last_name" placeholder="Last Name" required>
                <input type="tel" name="phone_number" placeholder="Phone Number" required>
                <input type="text" name="address" placeholder="Address" required>
                <button type="submit">Sign Up</button>
            </form>
            </div>
         </div>
    </section>

    <section class="login-section">
    <div id="login-form-container">
        <form class="login-form" onsubmit="submitLoginForm(event)">
            {{ login_form.csrf_token }}
            <div class="form-group">
                <label>{{ login_form.username.label }}</label>
                {{ login_form.username(class="form-control", placeholder="Username", required="required") }}
            </div>
            <div class="form-group">
                <label>{{ login_form.password.label }}</label>
                {{ login_form.password(class="form-control", placeholder="Password", required="required") }}
            </div>
            <div class="form-group">
                <label>{{ login_form.remember_me.label }}</label>
                {{ login_form.remember_me(class="form-check-input") }}
            </div>
            <button type="submit" class="btn btn-primary">Log In</button>
        </form>
        <p><a href="/recover_password">Forgot your password?</a></p>
      </div>
     </section>

	      <section class="sales">
        <div class="sales-item airline">
            <h3>Airline Tickets</h3>
            <ul>
                <li>Flight from New York to Paris</li>
                <li>Departure: August 30, 2023</li>
                <li>Price: $500</li>
                <li><button>Buy Now</button></li>
            </ul>
        </div>
        <div class="sales-item bus">
            <h3>Bus Tickets</h3>
            <ul>
                <li>Bus from Los Angeles to San Francisco</li>
                <li>Departure: September 5, 2023</li>
                <li>Price: $50</li>
                <li><button>Buy Now</button></li>
            </ul>
        </div>
        <div class="sales-item train">
            <h3>Train Tickets</h3>
            <ul>
                <li>Train from London to Edinburgh</li>
                <li>Departure: August 25, 2023</li>
                <li>Price: $80</li>
                <li><button>Buy Now</button></li>
            </ul>
        </div>
    </section>

    <footer>
        <p>&copy; 2023 TravelEasy. All rights reserved.</p>
    </footer>
    <script src="{{ url_for('static', filename='jscript/scripts.js') }}"></script>
</body>
</html>
